---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Topics from "../_topics.astro";
---

<Topics>
  <main>
    <section>
      <h2>
        Welcome to <span class="text-gradient">AI Links</span>
      </h2>
    </section>
  </main>
</Topics>

<style></style>
