---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Testimonial from "../components/Testimonial.astro";
import Carousel from "../components/Carousel.astro";
import Timeline from "../components/Timeline.astro";
import JumbotronOne from "../components/JumbotronOne.astro";
---

<Layout title="Welcome to Origi">
  <main>
    <section>
      <h1>Welcome to <span class="text-gradient">Origin Otter</span></h1>
      <p class="instructions">
        Hello, here you can find a list of resources that I have collected over
        the years. Google and chatgpt are great resource but I think having a
        central hub would be a great resource for beginners! You can also find a
        list of applications made by me.
      </p>
    </section>
    <section class="flex flex-col gap-8">
      <ul role="list" class="link-card-grid">
        <!-- <Card
          href="/topics/ai"
          title="AI"
          body="Supercharge your project with new frameworks and libraries."
        /> -->
        <!-- <Card
          href="/topics/3d"
          title="3D modeling"
          body="Explore a galaxy of community-built starter themes."
        /> -->
        <!-- <Card
          href="/topics/communities"
          title="Communities"
          body="devX, infoq, etc"
        /> -->
      </ul>
      {false ?? <Testimonial />}
      <span class="text-gray-200">Timeline:</span>
      <Timeline />
      <div class="flex justify-center">
        <JumbotronOne />
      </div>
      <!-- <div class="flex flex-col md:w-1/2">
        <span>Some cool websites I have found over the years...</span>
        <a
          href="/topics/websites"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          More Unique Websites
        </a>
      </div> -->
    </section>
  </main>
</Layout>

<style>
  body {
    margin: unset;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 75%;
    max-width: calc(100% - 2rem);
    font-size: 16px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
